---
layout: default
slug: music
title: Music
---
<section id="music-list">
  <div class="container grid-2col">
    <div class="music-items">
      <h1>Music</h1>
      <p class="tagline">{{ site.music_tagline | improve }}</p>

      <ul class="music-item-list">
      {% for track in site.music reversed %}
        <li class="music-item-list-item" data-src="{{ track.m4a | absolute_url }}">
          <div class="music-track-info">
            <h2><button class="play-button" data-src="{{ track.m4a | absolute_url }}">{% include play.svg %}{{ track.title | improve }}</button></h2>
            <div class="music-preview-meta">
              <p>{{ track.duration }}</p>
              <p>{{ track.date | date: "%B %-d, %Y" }}</p>
              <p class="status status-{{ track.status }}">Status: {{ track.status | capitalize }}</p>
              <a href="{{ track.url }}">Details</a>
              <ul class="music-tags-list">
                {% for tag in track.tags %}
                <li class="music-tags-list-item {{ tag | slugify }}">
                  <a href="/music/tags/{{ tag | slugify }}/">{{ tag }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="music-player">
      <h3 id="now-playing-title">Now Playing: None</h3>
      <audio id="audio-player" controls>
        <source src="" type="audio/mp4">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</section>

<script src="/assets/js/music-player.js"></script>