<section id="work-experience">
  <div id="dmi" class="work-experience-item">
    <div class="meta">
      <h3>DMI</h3>
      <p>UX Architect / Practice Mgr.</p>
      <p>2019&mdash;Current</p>
    </div>
    <div class="details">
      <p>
        At DMI, I’ve collaborated with a diverse clientele spanning Financial Tech, Health Care, Insurance, Air Transportation, and more. Engaging with intricate challenges, I’ve been fortunate enough to lead wonderful teams of UX designers, researchers, and developers, supported by committed stakeholders. As a Managing Consultant, I guided and mentored a dedicated team of UX professionals, progressing to the position of Practice Manager overseeing the UX&nbsp;practice.
      </p>
    </div>
  </div>
  <div id="pearl-brands" class="work-experience-item">
    <div class="meta">
      <h3>Pearl Brands</h3>
      <p>Web Strategies Manager</p>
      <p>2018&mdash;2019</p>
    </div>
    <div class="details">
      <p>
        In my role as the Web Strategies Manager at Pearl Brands, I worked with clients in the tourism, non-profit, and local government sectors, delivering comprehensive web solutions, online marketing, and email campaigns. From initial planning and strategy to design and development, I led and executed each phase. Specializing in accessibility, I conducted audits of existing sites and enhanced designs and code to ensure WCAG 2/2.1 AA/AAA compliance. In addition to my strategic responsibilities, I took charge of managing servers, overseeing backups, and maintaining in-office&nbsp;networking.
      </p>
    </div>
  </div>
  <div id="studio-science" class="work-experience-item">
    <div class="meta">
      <h3>Studio Science</h3>
      <p>Designer</p>
      <p>2014&mdash;2017</p>
    </div>
    <div class="details">
      <p>
        During my tenure at Studio Science (formerly KA+A), I specialized in front-end development, with a primary focus on WordPress. My responsibilities encompassed designing interactions, ensuring accessibility, and implementing responsive design strategies. Engaging with a diverse clientele, ranging from nascent startups to well-established enterprises such as Angie's List (now Angi), Stack Overflow, and Salesforce, provided me with invaluable experience and the chance to contribute to projects of varying scales and&nbsp;complexities.
      </p>
    </div>
  </div>

