*
  box-sizing: border-box
  // -webkit-font-smoothing: subpixel-antialiased
.screen-reader-text
  clip: rect(1px, 1px, 1px, 1px)
  position: absolute !important
  height: 0
  width: 0
  overflow: hidden
html
  background: $off-white
  font-size: 110%
body
  padding: 0!important
  margin: 0 0 0 !important
  width: 100%
  background: $off-white
main
  background: #fff
a
  color: $red
.inline-nav-link
  align-self: start
  &.back
    margin-bottom: 2em
    &::before
      content: "\2190  "
blockquote
  //border-left: 4px solid $red
  padding: 0 0 0 2em
  margin: 1em 0
button
  cursor: pointer
figure
  align-self: start
  width: 100%
  max-width: 100%
  margin: 3em 0 3em
  display: block
figcaption
  font-style: italic
  font-size: 0.8em
  font-family: $mono
  margin: 0.5em 0
p
  max-width: 60ch
.icon
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
  transition: fill 0.3s ease
  text-decoration: none
  vertical-align: center
  &.pixelfed
    width: 1.65rem
    height: 1.65rem

a:hover .icon
  fill: #6364ff /* Adjust to your preferred accent */
