@font-face
    font-family: 'Argesta Text'
    src: url('../assets/fonts/argestatext-regularitalic-webfont.eot')
    src: url('../assets/fonts/argestatext-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestatext-regularitalic-webfont.woff2') format('woff2'), url('../assets/fonts/argestatext-regularitalic-webfont.woff') format('woff'), url('../assets/fonts/argestatext-regularitalic-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: italic

@font-face
    font-family: 'Argesta Text'
    src: url('../assets/fonts/argestatext-bold-webfont.eot')
    src: url('../assets/fonts/argestatext-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestatext-bold-webfont.woff2') format('woff2'), url('../assets/fonts/argestatext-bold-webfont.woff') format('woff'), url('../assets/fonts/argestatext-bold-webfont.ttf') format('truetype')
    font-weight: bold
    font-style: normal

@font-face 
    font-family: 'Argesta Text'
    src: url('../assets/fonts/argestatext-regular-webfont.eot')
    src: url('../assets/fonts/argestatext-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestatext-regular-webfont.woff2') format('woff2'), url('../assets/fonts/argestatext-regular-webfont.woff') format('woff'), url('../assets/fonts/argestatext-regular-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Argesta Display'
    src: url('../assets/fonts/argestadisplay-regularitalic-webfont.eot')
    src: url('../assets/fonts/argestadisplay-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestadisplay-regularitalic-webfont.woff2') format('woff2'), url('../assets/fonts/argestadisplay-regularitalic-webfont.woff') format('woff'), url('../assets/fonts/argestadisplay-regularitalic-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: italic

@font-face 
    font-family: 'Argesta Display'
    src: url('../assets/fonts/argestadisplay-regular-webfont.eot')
    src: url('../assets/fonts/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestadisplay-regular-webfont.woff2') format('woff2'), url('../assets/fonts/argestadisplay-regular-webfont.woff') format('woff'), url('../assets/fonts/argestadisplay-regular-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Argesta Headline'
    src: url('../assets/fonts/argestaheadline-regularitalic-webfont.eot')
    src: url('../assets/fonts/argestaheadline-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestaheadline-regularitalic-webfont.woff2') format('woff2'), url('../assets/fonts/argestaheadline-regularitalic-webfont.woff') format('woff'), url('../assets/fonts/argestaheadline-regularitalic-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: italic

@font-face
    font-family: 'Argesta Headline'
    src: url('../assets/fonts/argestaheadline-regular-webfont.eot')
    src: url('../assets/fonts/argestaheadline-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestaheadline-regular-webfont.woff2') format('woff2'), url('../assets/fonts/argestaheadline-regular-webfont.woff') format('woff'), url('../assets/fonts/argestaheadline-regular-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Argesta Hairline'
    src: url('../assets/fonts/argestahairline-regular-webfont.eot')
    src: url('../assets/fonts/argestahairline-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestahairline-regular-webfont.woff2') format('woff2'), url('../assets/fonts/argestahairline-regular-webfont.woff') format('woff'), url('../assets/fonts/argestahairline-regular-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Argesta Hairline'
    src: url('../assets/fonts/argestahairline-regularitalic-webfont.eot')
    src: url('../assets/fonts/argestahairline-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/argestahairline-regularitalic-webfont.woff2') format('woff2'), url('../assets/fonts/argestahairline-regularitalic-webfont.woff') format('woff'), url('../assets/fonts/argestahairline-regularitalic-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: italic