.site-header
  height: $ms4
  width: 100%
  background: $off-white
  .container
    @include flexbox()
    justify-content: space-between
    align-items: center
    height: $ms3
    width: 100%
    max-width: $ms14
    display: block
    padding: 0.8em 1em 1.2em
  a
    color: $red
.logo-link
  font-size: $ms1
  line-height: 1
  display: block
  text-decoration: none
  font-family: $serif
  font-style: italic
nav
  #menu
    list-style: none
    a
      text-decoration: none
