.library-grid
  display: grid
  grid-template-columns: repeat(1fr)
  gap: 2rem
  list-style: none
  padding: 0
  margin: 1em 0
  @media (min-width: 420px)
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: 720px)
    grid-template-columns: repeat(4, 1fr)

.library-item
  a
    margin-bottom: 0
  img
    border-radius: 0.25rem
    //box-shadow: 0 4px 12px rgba(0,0,0,0.1)
    aspect-ratio: 2 / 3
    height: auto
    width: 100%
    object-fit: contain

// .book-status
  display: inline-block
  margin-top: 0.25em
  padding: 0.1em 0.6em
  font-size: 0.8em
  font-family: $mono
  border-radius: 0.2em
  text-transform: uppercase
  letter-spacing: 0.05em
  color: var(--text)

.book-status.reading

.book-status.finished

.book-status.recommended

.library-meta
  margin: 0.4em 0 0.4em
  color: var(--text) 
.library-item-info
  padding: 0 