button
  font-family: inherit
  font-size: $ms0
  color: $text
  cursor: pointer
  padding: 0
  text-align: left
  border: none
  display: inline-flex
  align-items: center
  font-size: $ms0
  background: transparent
  cursor: pointer
  vertical-align: middle

  .play-icon
    margin-top: 0.2em
    display: inline-block
    vertical-align: middle
    margin-right: 0.4em
    border: 1px solid $muted
    border-radius: 0.2em
    padding: 0.15em
    background: transparent
    width: 1.2em
    height: 1.2em
    margin-right: 0.5em
    fill: currentColor

#music-list
  .container
    max-width: $ms14

.music-item-list
  list-style: none
  padding: 0

.music-item-list-item
  margin-bottom: 1rem
  padding-bottom: 1rem
  border-bottom: 1px solid $light-grey
  &:last-child
    border-bottom: 0

.music-track-info
  flex: 1
  font-size: $ms-1
  font-style: normal
  font-family: var(--sans)
  p
    padding: 0
    margin: 0
    font-family: var(--serif)
  h2,h3
    font-size: 0.88rem
    font-family: var(--serif)
    margin: 0
    letter-spacing: 0

.music-tags-list
  display: flex
  flex-wrap: wrap
  list-style: none
  padding: 0

.music-tags-list-item
  margin-right: 0.5rem
  font-style: normal
  background-color: #fff
  padding: 0

.music-player
  padding-left: 2rem
  border-left: 1px solid $light-grey
  h3
    margin-top:0
    font-weight: 400
    font-family: $serif
    color: $text
    letter-spacing: 0
    text-transform: initial
    font-size: $ms-1

.grid-2col
  display: grid
  grid-template-columns: 1fr
  gap: 2rem
  @media (min-width: 600px)
    grid-template-columns: 2fr 1fr
@media (max-width: 600px)
  .music-player
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    background-color: #fff
    border-top: 1px solid $light-grey
    padding: 0.5em 1em
    z-index: 1000
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05)

@media (max-width: 600px)
  body.music footer
    padding-bottom: 5em

.music-preview-meta
  p,a,li
    font-size: 0.88rem

.music-entry
  #audio-player
    margin: 2em 0 0
  .copyright.meta
    font-size: 0.68rem
    margin-bottom: 2em
  