@import "modularscale/modularscale"
$ms-6: ms(-6)
$ms-5: ms(-5)
$ms-4: ms(-4)
$ms-3: ms(-3)
$ms-2: ms(-2)
$ms-1: ms(-1)
$ms0: ms(0)
$ms1: ms(1)
$ms2: ms(2)
$ms3: ms(3)
$ms4: ms(4)
$ms5: ms(5)
$ms6: ms(6)
$ms7: ms(7)
$ms8: ms(8)
$ms9: ms(9)
$ms10: ms(10)
$ms11: ms(11)
$ms12: ms(12)
$ms13: ms(13)
$ms14: ms(14)
$ms15: ms(15)
$ms16: ms(16)
$ms17: ms(17)
$ms18: ms(18)
$ms19: ms(19)
$ms20: ms(20)

\:root
  --green: #015353
  --red: #b4637A
  --dark-red: #513537
  --mid-red: #864156
  --clay-red: #A6614B
  --pink: #F1B4CC
  --light-pink: #F6C6D7
  --white: #fff
  --off-white: #FAF4EB
  --grey-ultralight: #EEE
  --dark-grey: #57527A
  --light-grey: #ccc
  --a11y-grey: #6F787B
  --gold: #f6c177
  --love-light: #eb6f92
  --pine: #3e8fb0
  --rose: #ea9a97
  --rose-light: #ebbcba
  --foam: #9ccfd8
  --foam-dark: #56949f
  --subtle: #797593
  --muted: var(--a11y-grey)
  --overlay: #f2e9e1
  --light-in-dark-text: #e0def4
  --foam-light: #d5eff4
  --gold-light: #fae7c5
  --pink-light: #f9dceb
  --green-light: #b8e1e1
  --red-light: #f0c3ce
  --pine-light: #cbe6f5
  --brown: #906548
  --text: #2e2e2e
  --sans: 'Alegreya Sans',Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif
  --serif: 'Argesta Text', Georgia, serif
  --mono: 'Roboto Mono',Monaco, monospace
  --headline: 'Argesta Headline', Georgia, serif
  --hairline: 'Argesta Hairline', Georgia, serif

$sans: var(--sans)
$display: var(--display)
$serif: var(--serif)
$headline: var(--headline)
$hairline: var(--hairline)
$mono: var(--mono)
$green: var(--green)
$red: var(--red)
$mid-red: var(--mid-red)
$dark-red: var(--dark-red)
$clay-red: var(--clay-red)
$pink: var(--pink)
$light-pink: var(--rose-light)
$white: var(--white)
$off-white: var(--off-white)
$grey-ultralight: var(--grey-ultralight)
$ultralight-grey: var(--grey-ultralight)
$light-grey: var(--light-grey)
$dark-grey: var(--dark-grey)
$gold: var(--gold)
$love-light: var(--love-light)
$pine: var(--pine)
$pine-light: var(--pine-light)
$rose: var(--rose)
$rose-light: var(--rose-light)
$foam: var(--foam)
$foam-dark: var(--foam-dark)
$subtle: var(--subtle)
$muted: var(--muted)
$overlay: var(--overlay)
$light-in-dark-text: var(--light-in-dark-text)
$text: #4a5459
