<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title | smartypants }} &#10731; Ben Flack{% else %}{{ site.title | smartypants }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="Claxon Design Co.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/lab/{{ page.stylesheet}}" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
